<link rel="stylesheet" href="../css/styles2.css">

<h1>Tell us about yourself!</h1>
<h2>Do you prefer to make your own creative projects instead of following the lesson? </h2>
<form action="/survey3" method="post">
  <input type="radio" name="question2" id="yes" value=1 checked />
  <input type="radio" name="question2" id="no" value=2>
  <div class="switch">
    <label for="yes">Yes</label>
    <label for="no">No</label>
    <span></span>
  </div>
  <br>
  <button type="submit" class="btn btn-info next">Next</button>

</form>
