<link rel='stylesheet' href='../css/styles.css'>
<div class="row">
  <div class="col-md-4">
		<img src="../img/epicupidlogo.png" class="epicupidlogo">
	</div>
<div class="video">
  <iframe src="https://player.vimeo.com/video/258831436?autoplay=1&loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<img src="../img/final.png" class="gitcommit">
<a href="/register" class="btn btn-info" id="join"><h1>Join the Party!</h1></a>
