<link rel="stylesheet" href="/css/styles3.css">

<h1>Tell us about yourself!</h1>
<h2>Do you like to drive in the coding fast lane?</h2>
<form action="/survey2" method="post">
  <input type="radio" name="question1" id="yes" value=1 checked />
  <input type="radio" name="question1" id="no" value=2>
  <div class="switch">
    <label for="yes">Yes</label>
    <label for="no">No</label>
    <span></span>
  </div>
  <br>
  <button type="submit" class="btn btn-info next">Next</button>

</form>
