<link rel="stylesheet" href="../css/styles3.css">

<h1>Tell us about yourself!</h1>
<form action="/users" method="post" id="survey">
  <div class="q1">
    <h2>Do you like to drive in the coding fast lane?</h2>
    <label for="q1">No</label>
    <input type="radio" name="question1" class="btn btn-danger" id='q1-no' value=0>
    <input type="radio" name="question1" class="btn btn-info" id='q1-yes' value=1>
    <label for="q1">Yes</label>
  </div>
  <div class="q2">
    <h2>Do you like to take breaks throughout the day?</h2>
    <label for="q2">No</label>
    <input type="radio" name="question2" class="btn btn-danger" id='no' value=0>
    <input type="radio" name="question2" class="btn btn-info" id='yes' value=1>
    <label for="q2">Yes</label>
  </div>
  <div class="q3">
    <h2>Do you like to ask other pairs for help?</h2>
    <label for="q3">No</label>
    <input type="radio" name="question3" class="btn btn-danger" id='no' value=0>
    <input type="radio" name="question3" class="btn btn-info" id='yes' value=1>
    <label for="q3">Yes</label>
  </div>
  <div class="q4">
    <h2>Do you like to make your own interpretation of the day's curriculum?</h2>
    <label for="q4">No</label>
    <input type="radio" name="question4" class="btn btn-danger" id='no' value=0>
    <input type="radio" name="question4" class="btn btn-info" id='yes' value=1>
    <label for="q4">Yes</label>
  </div>
  <div class="q5">
    <h2>Do you like to use visual aids/whiteboards?</h2>
    <label for="q5">No</label>
    <input type="radio" name="question5" class="btn btn-danger" id='no' value=0>
    <input type="radio" name="question5" class="btn btn-info" id='yes' value=1>
    <label for="q5">Yes</label>
  </div>
  <br>
  <button type="submit" name="button" class="btn btn-info" id="submit">Submit</button>
</form>
