<link rel="stylesheet" href="/css/styles3.css">

<h1>Tell Us About Yourself!</h1>
<form action="/users" method="post">
  <div class="cd-switch">
    <h2>Do you prefer coding in the fast lane?</h2>
    <div class="switch">
      <input type="radio" name="question1" id="yes" value="yes" checked>
      <label for="yes">Yes</label>
      <input type="radio" name="question1" id="no" value="no">
      <label for="no">No</label>
      <span class="switchFilter"></span>
    </div>
  </div>
  <div class="cd-switch">
    <h2>Do you like to take breaks throughout the day?</h2>
    <div class="switch">
      <input type="radio" name="question1" id="yes" value="yes" checked>
      <label for="yes">Yes</label>
      <input type="radio" name="question1" id="no" value="no">
      <label for="no">No</label>
      <span class="switchFilter"></span>
    </div>
  </div>
  <button type="submit" name="button" class="btn btn-info">Submit</button>
</form>
