
h1 {
  font-family: 'Pacifico', cursive;
  text-align:center;
}

p {
  font-family: 'Oxygen Mono';
}

footer {
    height: 300px;
    width: 100%;
    background-color: #4c7bd9;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -60px;

}
.q1, .q2, .q3, .q4, .q5 {
 display: block;
 margin: 0 auto;
 text-align:center;
}
h2 {
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
}
.social {
  width:5%;
}

#submit {
  display: block;
  margin: 0 auto;
}
