.gitcommit {
  position: absolute;
  width: 800px;
  top:50%;
  left: 35%;
}

.epicupidlogo {
  width:75%;
  position: absolute;
  left:0;
}

.logo {
  width: 500px;
  float:left;
}

.btn.btn-info {
  border: 2px solid white;
  background-color: rgba(0,179,179, 0.4)
}

#join {
  position: absolute;
  width: 550px;
  height: 120px;
  top:75%;
  left: 40%;
}


h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
}

#player {
  width: 100%;
  height: 100%;
}

iframe {
  margin-top: 8%;
  width: 100%;
  height: 1500px;
}

h2 {
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 60px;
}

footer {
    height: 290px;
    width: 100%;
    background-color: #4c7bd9;
    color: white;
    text-align: center;
    position: absolute;
}

p {
  font-family: 'Oxygen Mono';

}
.social {
  width:5%;
}
